body{
    width: 100%;
    margin: 30px;
    background-color: antiquewhite;
}

#profile-container{
    max-width: 300px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
}

#profile-image{
        width: 100%;
        height: auto;
}

#profile-name{
    text-align: center;
}